@import './variables.scss';
.cartDetail {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 63%;
	margin: 0 auto;
	min-height: 40vh;

	.cartDetail-card {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		margin: 5rem 0;

		border-bottom: 1px solid $light-grey;
		height: 12rem;
		width: 100%;

		.cardImg-Title {
			display: flex;
			align-items: center;

			.card-img-container {
				background-color: $img-bg;
				display: flex;
				align-items: center;
				justify-content: center;
				// padding: 0 5rem;
				height: 10rem;
				width: 10rem;
				.img-primary {
					height: 100%;
					width: auto;
				}
			}
			.info-title {
				font-family: 'Josefin Sans', sans-serif;
				font-size: 3rem;
			}
		}

		.price-container {
			display: flex;
			.item-price {
				font-family: 'Josefin Sans', sans-serif;
				font-size: 1.4rem;
				font-weight: 400;
				color: $text1;
				margin: 0 0.5rem 1rem;
			}
			.promo-price {
				color: $primary;
				text-decoration: line-through;
			}
		}

		.card-info {
			padding-left: 2rem;

			.wishList-container {
				margin: 1rem 0;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				span {
					font-family: 'Josefin Sans', sans-serif;
					font-size: 1.6rem;
					color: #151875;
				}
				i {
					margin-left: 1rem;
					cursor: pointer;
				}
			}
			.info-categories {
				font-family: 'Josefin Sans', sans-serif;
				font-size: 1.6rem;
				color: #151875;
			}
			.social-icon-container {
				display: flex;
				margin-bottom: 2rem;
				.social-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: $text1;
					border-radius: 50%;
					height: 3rem;
					width: 3rem;
					margin-top: 1rem;
					margin-right: 0.5rem;
					cursor: pointer;
					i {
						font-size: 1.6rem;
					}
				}
			}
			.itemDetail-description {
				.description-title {
					font-family: 'Josefin Sans', sans-serif;
					font-size: 2.2rem;
					color: #151875;
				}
				.description-text {
					font-family: 'Josefin Sans', sans-serif;
					font-size: 1.6rem;
					color: #757793;
				}
			}
		}
		.close {
			margin-left: 3rem;
			cursor: pointer;

			i {
				color: $text1;
				font-size: 1.2rem;
			}
		}
	}
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 1366px) {
}
@media (max-width: 1024px) {
	.itemDetail {
		max-width: 80%;
		.itemDetail-card {
			flex-direction: column;

			.card-img-container {
				margin-bottom: 3rem;
				justify-content: center;
				padding: 2rem;
				.img-primary {
				}
			}
			.card-info {
				padding-left: 0;
				.info-title {
					font-size: 2.6rem;
				}
				.item-price {
				}
				.promo-price {
				}
				.wishList-container {
					span {
					}
					i {
					}
				}
				.info-categories {
				}
				.social-icon-container {
					.social-icon {
						i {
						}
					}
				}
				.itemDetail-description {
					.description-title {
					}
					.description-text {
					}
				}
			}
			.close {
				position: absolute;
				right: 3rem;
				top: 3rem;
				i {
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.itemDetail {
		max-width: 100%;
		.itemDetail-card {
			box-shadow: none;
			margin: 0;
			.card-img-container {
				.img-primary {
				}
			}
			.card-info {
				.info-title {
				}
				.item-price {
				}
				.promo-price {
				}
				.wishList-container {
					span {
					}
					i {
					}
				}
				.info-categories {
				}
				.social-icon-container {
					.social-icon {
						i {
						}
					}
				}
				.itemDetail-description {
					.description-title {
					}
					.description-text {
					}
				}
			}
			.close {
				i {
				}
			}
		}
	}
}