@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato&display=swap');
$violet: #7e33e0;
$light-violet: #9877e7;
$white: #ffffff;
$light: #f1f1f1;
$light-grey: #e7e6ef;
$black: #0d0e43;
$text1: #151875;
$primary: #fb2e86;
$secondary: #2f1ac4;
$main-white-color: #e0dd0e;
$icon-yellow: #de9034;
$icon-pink: #ec42a2;
$icon-violet: #8568ff;
$img-bg: #f6f7fb;
$img-bg-hover: #ebf4f3;
$slider-bg: #f2f0ff;
$counter: #f0eff2;
$counter-btn: #e7e7ef;
$star-yellow: #ffc416;
$star-gray: #b2b2b2;